.title-slide {
    background-image: url("image/Background.jpeg");
    background-position: center;
    background-size: cover;
}


.background{
  background-color: #C6EDED;
  color: #000000;
}



/* Tabs container style */
.tabs {
  overflow: hidden;
  background-color: #f1f1f1;
  text-align: left;
}

/* Style the buttons inside the tab */
.tab-button {
  background-color: inherit;
  float: none; /* Use display: inline-block instead of float */
  display: inline-block; /* Display buttons inline */
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 22px; /* Increase font size */
  width: auto; /* Adjust width as needed */
  margin: 0 2%; /* Add some margin to separate the buttons */
}

/* Change background color of buttons on hover */
.tab-button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab-button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tab-content {
  display: none;
